<article>
  <h1><a href="{{ url }}" target="_blank" title="Visit {{ url }}">{{ note }}</a></h1>
  <span data-icon="S" class="star {{ starred }}" title="Star for later"></span>
  <footer>
    <abbr class="created" title="{{ created_at }}">{{ created_at }}</abbr>
    {{#if tags}}
    <ul class="tags" data-icon="z">
      {{#each tags}}
        <li><a class="tag" href="#{{this}}">{{ this }}</a></li>
      {{/each}}
    </ul>
    {{/if}}
  </footer>
</article>